@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Justis Brown";
    ViewBag.Job1 = "Software Engineer/Developer";
    ViewBag.Job2 = "Web Developer";
}
<!--Justis Brown-->


<body>


    <div class="grid-container">
        <div class="grid-item">
            <img id="pic" src="~/img/Resized_20201001_155823.jpeg" />
        </div>
        <div class="grid-item">
            <h3>My Expectations</h3>
            <p>
                By the end of this class, I hope to be able to build web applications within a second framework.
                I hope to be able to program decently in C#. I hope that I'll be able to have the skills needed to get a job in
                web development or software development.
            </p>
        </div>
        <div class="grid-item">
            <h3>Jobs I'm Interested In</h3>
            <ul>
                <li>@ViewBag.Job1</li>
                <li>@ViewBag.Job2</li>
                <li>Something to do with Machine Learning</li>
            </ul>
        </div>
    </div>
    

    <p id="letterGrade" hidden></p>
    <p id="finalGrade" hidden></p>
    
</body>
